body{
    margin: 0;
    padding: 0;
}
body img{
width: 300px;
height: auto;
padding: 0 0 0 5px;
    margin: 0 0 0 5px;
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(-30);
}